[submodule "javascriptSkills/advance-your-skills-with-javascript-4452106"]
	path = javascriptSkills/advance-your-skills-with-javascript-4452106
	url = https://github.com/LinkedInLearning/advance-your-skills-with-javascript-4452106.git
